.mainbody{
	width: 100%;
	height: 100%;
}
div.container{
  position: fixed;
	background: #2980b9; /* For browsers that do not support gradients */
   /* Standard syntax */
	margin: 0px;
	width: 100%;

}
div.content{
  padding-top:  100px;
  font-size: 60px;
}
.home{
	color: black;
}
#header{
	color: white;
	font-family: 'Playfair Display', serif;
	padding-top: 15px;
	padding-bottom:  15px;
	font-size: 5vh;
}

#navigationbar {

top: 20px;
	margin: auto;
	position: absolute;
}
#navbari:hover {
	color: rgba(255,255,255,1);
	font-size: 150%;
}
#navbari {
	color: rgba(255,255,255,0.7);
}
a{

	transition: 0.5s;
}
#main {
    transition: margin-left 0s;
    color: white;
    padding: 25px;
    padding-top: 5px;
    background-color: transparent;
    position: absolute;
    top: 15px;
    right: 5px;

}

.sidenav {


    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right:  0px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.0s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: "Lato", sans-serif;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


div.third {
  position: fixed;
	text-align: center;
	width: 100%;
	background-color: #2980b9;
	position: absolute;
	bottom: 0px;

}
div.insidethird {
	width: 310px;
	margin: auto;
	margin-top: 30px;
 	margin: 20px;
 	position: relative;
 	display: block;
 	padding-top: 20px;
 	padding-bottom: 20px;
 	padding-left: 7px;
	}

.circle-big {
  background-color: white;
  border-color: rgba(0,0,0,0.3);
position: relative;
margin: auto;
top: 30%;
z-index: 1;
  width: 30vh;
  height: 30vh;
  -moz-border-radius: 15vh;
  -webkit-border-radius: 15vh;
  border-radius: 15vh;
	border: solid;
  border-color: black;
	transition: all .5s ease-in-out
}
.circle-big:hover {

	transition: all .5s ease-in-out;
	transform: scale(2);
  border-color: rgba(0,0,0,0.3);
}
.circle-medium {
  width: 15vh;
  height: 15vh;
  -moz-border-radius: 7.5vh;
  -webkit-border-radius: 7.5vh;
  border-radius: 7.5vh;
	border: solid;
  border-color: black;
	transition: all .5s ease-in-out
}
.circle-medium:hover {
	transition: all .5s ease-in-out;
	transform: scale(2);
}

.circle-small {
  width: 7.5vh;
  height: 7.5vh;
  -moz-border-radius: 3.8vh;
  -webkit-border-radius: 3.8vh;
  border-radius: 3.8vh;
	border:solid;
  border-color: black;
	transition: all .5s ease-in-out
}
.circle-small:hover {
	transition: all .5s ease-in-out;
	transform: scale(2);
}
.dp{

  background-image: url('https://i.pinimg.com/736x/36/84/e3/3684e357bece6aac392b987e696bcfda--watercolor-map-watercolor-design.jpg');

  height: 100%;
}



.blur{
  width: 100%;
  height: 110%;
  position: fixed;
  z-index:  -1;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.6);
	overflow: scroll


}
.blur a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    color: rgba(0,0,0,0.9);
    display: block;
    transition: 0.3s;
    font-family: "Lato", sans-serif;
}
.blur a:hover, .offcanvas a:focus{
    color: rgba(0,0,0,1);
}
