.mainbody{
	width: 100%;
	height: 100%;
}
div.container{
	background: rgb(137,44,151); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, rgb(137,44,151) , rgb(251,0,0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgb(137,44,151), rgb(251,0,0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgb(137,44,151), rgb(251,0,0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgb(137,44,151) , rgb(251,0,0)); /* Standard syntax */
	margin: 0px;
	width: 100%;

}
.home{
	color: black;
}
#header{
	color: white;
	font-family: 'Playfair Display', serif;
	padding-top: 15px;
	padding-bottom:  15px;
	font-size: 5vh;
}

#navigationbar {	

top: 20px;
	margin: auto;
	position: absolute;
}
#navbari:hover {
	color: rgba(255,255,255,1);
	font-size: 150%;
}
#navbari {
	color: rgba(255,255,255,0.7);
}
a{

	transition: 0.5s;
}
#main {
    transition: margin-left 0s;
    color: white;
    padding: 25px;
    padding-top: 5px;
    background-color: transparent;
    position: absolute;
    top: 15px;
    right: 5px;

}

.sidenav {


    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right:  0px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.0s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: "Lato", sans-serif;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


div.third {
	text-align: center;
	width: 100%;
	background-color: rgb(136,45,151);
	position: absolute;
	bottom: 0px;
	
}
div.insidethird {
	width: 310px;
	margin: auto;
	margin-top: 30px;
 	margin: 20px;
 	position: relative; 
 	display: block; 
 	padding-top: 20px;
 	padding-bottom: 20px;
 	padding-left: 7px;
	}

.circle-big {
position: relative;
margin: auto;
top: 27%;
  width: 200px;
  height: 200px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
	border: solid;
  border-color: black;
}
.circle-big:hover {
	transition: all .2s ease-in-out;
	transform: scale(2);
}
.circle-medium {
  width: 100px;
  height: 100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
	border: solid;
  border-color: black;
}
.circle-medium:hover {
	transition: all .2s ease-in-out;
	transform: scale(2);
}

.circle-small {
  width: 50px;
  height: 50px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
	border:solid;
  border-color: black;
}
.circle-small:hover {
	transition: all .2s ease-in-out;
	transform: scale(2);
}
.dp{
	height: 75%;
}

