<!DOCTYPE>
<html>
<head>
<title>Sustainable Development</title>
	<meta charset="UTF-8">

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="static/css/Styling.css ">

</style>
  <title> Sustainable Development </title>
</head>
<body>
    <div class="container">
    	<header id="header" class="">
    	Sustainable Development

    	</header><!-- /header -->
    </div>
    <div class="third">
					<div class="insidethird" style="margin: 0 auto">
					<a href="https://www.facebook.com/SustDev/"
					 target="framename">
					<img src="static/imgs/fb.png" alt="Fb is here"
					width="40" height="40"></a>
					<a href="https://twitter.com/sustdev/"
					 target="_blank">
					<img src="static/imgs/twitter.png" alt="Twitter is here"
					width="40" height="40"></a>
					<a href="https://www.youtube.com/watch?v=3WODX8fyRHA"
					 target="_blank">
					<img src="static/imgs/youtube.png" alt="Youtube is here"
					width="40" height="40"></a>
					<a href="https://www.instagram.com/theglobalgoals/?hl=en" target=
					"_blank"><img src="static/imgs/instagram.png"
					width="40" height="40"></a>
					</div>
			</div>
</body>
</html>
