<!DOCTYPE>
<html>
<head>
<title>Sustainable Development</title>
	<meta charset="UTF-8">

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">


<link rel="stylesheet" type="text/css" href="static/css/Styling.css ">
        <link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/common.css" />
        <link rel="stylesheet" type="text/css" href="css/style4.css" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css' />
		<script type="text/javascript" src="js/modernizr.custom.79639.js"></script>
</style>
  <title> Sustainable Development </title>
</head>
<body>

<div class="blur" id="blurry">
				<a href="javascript:void(0)" class="closebtn" onclick="closeNav2()">&times;</a>

<section class="main">

				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-1">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-1"></div>
									<div class="ch-info-back">
										<h3>Poverty</h3>
										<p><a href="http://drbl.in/ewUW">About</a></p>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="ch-item ch-img-2">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-2"></div>
									<div class="ch-info-back">
										<h3>Zero Hunger</h3>
										<p><a href="http://drbl.in/elmi">About</a></p>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="ch-item ch-img-3">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-3"></div>
									<div class="ch-info-back">
										<h3>Good Health</h3>
										<p><a href="http://drbl.in/dfhn">About</a></p>
									</div>
								</div>
							</div>
						</div>
					</li>
          <li>
						<div class="ch-item ch-img-4">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-4"></div>
									<div class="ch-info-back">
										<h3>Quality Education</h3>
										<p><a href="http://drbl.in/dfhn">About</a></p>
									</div>
								</div>
							</div>
						</div>
					</li>
          <li>
						<div class="ch-item ch-img-5">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-5"></div>
									<div class="ch-info-back">
										<h3>Gender Equality</h3>
										<p><a href="http://drbl.in/dfhn">About</a></p>
									</div>
								</div>
							</div>
						</div>
					</li>
          <li>
						<div class="ch-item ch-img-6">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-6"></div>
									<div class="ch-info-back">
										<h3>Clean Water</h3>
										<p><a href="http://drbl.in/dfhn">About</a></p>
									</div>
								</div>
							</div>
						</div>
					</li>
          <li>
						<div class="ch-item ch-img-7">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-7"></div>
									<div class="ch-info-back">
										<h3>Clean Energy</h3>
										<p><a href="http://drbl.in/dfhn">About</a></p>
									</div>
								</div>
							</div>
						</div>
					</li>
          <li>
						<div class="ch-item ch-img-8">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-8"></div>
									<div class="ch-info-back">
										<h3>Economic Growth</h3>
										<p><a href="http://drbl.in/dfhn">About</a></p>
									</div>
								</div>
							</div>
						</div>
					</li>
          <li>
						<div class="ch-item ch-img-9">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-9"></div>
									<div class="ch-info-back">
										<h3>Industry,Innovation</h3>
										<p><a href="http://drbl.in/dfhn">About</a></p>
									</div>
								</div>
							</div>
						</div>
					</li>
          <li>
						<div class="ch-item ch-img-10">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-10"></div>
									<div class="ch-info-back">
										<h3>Reduced Inequality</h3>
										<p><a href="http://drbl.in/dfhn">About</a></p>
									</div>
								</div>
							</div>
						</div>
					</li>
          <li>
						<div class="ch-item ch-img-11">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-11"></div>
									<div class="ch-info-back">
										<h3>Sustainable Cities</h3>
										<p><a href="http://drbl.in/dfhn">About</a></p>
									</div>
								</div>
							</div>
						</div>
					</li>
          <li>
						<div class="ch-item ch-img-12">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-12"></div>
									<div class="ch-info-back">
										<h3>Responsible Consumption</h3>
										<p><a href="http://drbl.in/dfhn">About</a></p>
									</div>
								</div>
						</div>
					</li>
        </div>
				</ul>

			</section>
				
			
			</div>
<div class="mainbody">

    <div class="container">
    <div class="row">


  			<div class="col-lg-8 col-xs-11 col-sm-11 col-md-7">


			    	<header id="header" >
			    	Sustainable Development

			    	</header><!-- /header -->
	    	</div>

	    	<div class="hidden-md hidden-lg col-sm-1 col-xs-1">

					<div id="mySidenav" class="sidenav">
						 <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
						 <a href="about.html">About</a>
						 <a href="contact.html">Contribute</a>
					</div>

					<div id="main">
						  <span style="font-size:25px;cursor:pointer" onclick="openNav()">&#9776;</span>
					</div>
				</div>
			<div class="col-lg-4 col-md-5 hidden-xs hidden-sm">
			<div id="navigationbar" >
					<a id="navbari" href="index.html" class="btn btn-lg home"><u>HOME</u></a>
						<a id="navbari" href="about.html" class="btn btn-lg">ABOUT</a>
						<a id="navbari" href="contact.html" class="btn btn-lg">CONTRIBUTE</a>
					</div>


			</div>


    </div>

    </div>


	<div class="dp">
		<div class="circle-big" id="circle-centre" style="background-image: url('static/imgs/UN_SDG_Logo.png'); background-size: cover; " onclick="openNav2()"></div>
	</div>




    <div class="third">
					<div class="insidethird" style="margin: 0 auto">
					<a href="https://www.facebook.com/SustDev/"
					 target="framename">
					<img src="static/imgs/fb.png" alt="Fb is here"
					width="40" height="40"></a>
					<a href="https://twitter.com/sustdev/"
					 target="_blank">
					<img src="static/imgs/twitter.png" alt="Twitter is here"
					width="40" height="40"></a>
					<a href="https://www.youtube.com/watch?v=3WODX8fyRHA"
					 target="_blank">
					<img src="static/imgs/youtube.png" alt="Youtube is here"
					width="40" height="40"></a>
					<a href="https://www.instagram.com/theglobalgoals/?hl=en" target=
					"_blank"><img src="static/imgs/instagram.png"
					width="40" height="40"></a>
					</div>
			</div>
			</div>




			
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/js/bkd.js"></script>



</body>
</html>
