div.container{
	background-color: rgba(0,0,0,0.5);
	margin: 0px;
	width: 100%;

}
#header{
	font-family: Merriweather;
	padding: 20px;
	font-size: 50px;
}


div.third {
	background-color: black;
	
}
div.insidethird {
	width: 310px;
	margin: auto;
	margin-top: 30px;
 	margin: 20px;
 	position: relative; 
 	display: block; 
 	padding-top: 30px;
 	padding-bottom: 30px;
 	padding-left: 7px;
	}
